@font-face {
  font-family: "title";
  src: url("funkymuskrat.ttf") format("truetype");
}

@font-face {
  font-family: "vinyl";
  src: url("VINYL.TTF") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: url("BebasNeue-Regular.ttf") format("truetype");
}

.page {
  border: none;
  margin: none;
  padding: none;
}

.page img {
  border: none;
  margin: none;
  padding: none;
}

button {
  background-color: #b4dde1;
  color: black;
  font-family: bebas;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #092f33;
}

input[type="submit"] {
  background-color: #b4dde1;
  color: black;
  font-family: bebas;
  font-size: 1.5rem;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #092f33;
  color: white;
}

.pageContent {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.pageContent h1 {
  font-family: bebas;
}

body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #222222;
}
